//colores
$dark-color: #000;
$light-color: #fff;
$red-color: #a74752;
$grey-color: #ddd;

$link-color: $light-color;
$link-hover-color: $dark-color;


// body vars
$font-family-base: 'Dosis', sans-serif;
$font-size-base: 16px;


//header font weight
$h1-font-weight: 700;
$headings-font-weight : 300; //override bootstrap default